<!--The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
-->
<div style="padding-top: 10%; background-color: #404040;">
    <div class="onoffswitch" style="align-items: center">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
        <label class="onoffswitch-label" for="myonoffswitch">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
        </label>
    </div>
  <div class="btn-group-vertical" style="height: 100; width: 100%; background-color: #404040;">
      <button type="button" class="btn btn-primary btn-lg btn-block">Ligar</button>
      <button type="button" class="btn btn-danger btn-lg btn-block">Desligar</button>
  </div>
</div>


<div class="container">
  <div class="switch">
    <input type="radio" class="switch-input" name="view" value="week" id="week" checked>
    <label for="week" class="switch-label switch-label-off">Week</label>
    <input type="radio" class="switch-input" name="view" value="month" id="month">
    <label for="month" class="switch-label switch-label-on">Month</label>
    <span class="switch-selection"></span>
  </div>

  <div class="switch switch-blue">
    <input type="radio" class="switch-input" name="view2" value="week2" id="week2" checked>
    <label for="week2" class="switch-label switch-label-off">Week</label>
    <input type="radio" class="switch-input" name="view2" value="month2" id="month2">
    <label for="month2" class="switch-label switch-label-on">Month</label>
    <span class="switch-selection"></span>
  </div>

  <div class="switch switch-yellow">
    <input type="radio" class="switch-input" name="view3" value="week3" id="week3" checked>
    <label for="week3" class="switch-label switch-label-off">Week</label>
    <input type="radio" class="switch-input" name="view3" value="month3" id="month3">
    <label for="month3" class="switch-label switch-label-on">Month</label>
    <span class="switch-selection"></span>
  </div>
</div>